{% extends "base.html" %}
{% block title %} Products page {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products_list.css') }}">
<style>
    .accordion {
        --bs-accordion-bg: white;
        --bs-accordion-btn-color: blue;
        --bs-accordion-btn-padding-x: 1.3em;
        --bs-accordion-btn-padding-y: 0.3em;
        --bs-accordion-border-width: 0;
        --bs-accordion-active-color: blue;
        --bs-accordion-active-bg: white;
    }

    .accordion-button:not(.collapsed)::after,
    .accordion-button::after {
        background-image: unset !important;
    }

    .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0, 0, 0, .125);
    }
</style>

<!-- <header style="position:relative; top: 50px;">
    <hr>
</header> -->
<br>
<!-- Sort by dropdown button -->
<div class="container-fluid">
    <div class="row gy-3">
        <div class="col-xxl-12 px-5">
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableInside"
                    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside" id="sort-dropdown">
                    <li><input type="checkbox" id="relevancy"><label for="relevancy"
                            class="sort-dropdown-label">Relevancy</label></li>
                    <li><input type="checkbox" id="newest"><label for="newest"
                            class="sort-dropdown-label">Newest</label></li>
                    <li><input type="checkbox" id="price: low to high"><label for="price: low to high"
                            class="sort-dropdown-label">Price: Low to High</label></li>
                    <li><input type="checkbox" id="price: high to low"><label for="price: high to low"
                            class="sort-dropdown-label">Price: High to Low</label></li>
                    <li><input type="checkbox" id="brand: a to z"><label for="brand: a to z"
                            class="sort-dropdown-label">Brand: A to Z</label></li>
                    <li><input type="checkbox" id="brand: z to a"><label for="brand: z to a"
                            class="sort-dropdown-label">brand: Z to A</label></li>
                </ul>
            </div>
        </div>


        <div class="col-xxl-2" >
            <div class="accordion accordion-flush" id="accordionExample">
                <form method="POST" action="{{ url_for('products') }}">
                    <fieldset id="filter">

                        <legend id="filter-title">
                            Filter By:
                        </legend>

                        <!-- Countries -->
                        <div class="accordion-item">
                            <div class="filter-item-title-div">
                                <h5 class="filter-item-header">Country/Place of Origin</h5>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="singapore" value="Singapore" name="country" {% if 'Singapore'
                                    in country_value %}checked="checked" {% endif %}>
                                <label for="singapore">Singapore</label>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="japan" value="Japan" name="country" {% if 'Japan' in
                                    country_value %}checked="checked" {% endif %}>
                                <label for="japan">Japan</label>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="china" value="China" name="country" {% if 'China' in
                                    country_value %}checked="checked" {% endif %}>
                                <label for="china">China</label>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="india" value="India" name="country" {% if 'India' in
                                    country_value %}checked="checked" {% endif %}>
                                <label for="india">India</label>
                            </div>

                            <div class="viewmore-hr">
                                <!-- <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        View More
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use to
                                        style each element. These classes control the overall appearance, as well as the
                                        showing and hiding via CSS transitions. You can modify any of this with custom
                                        CSS or overriding our default variables. It's also worth noting that just about
                                        any HTML can go within the <code>.accordion-body</code>, though the transition
                                        does limit overflow.
                                    </div>
                                </div> -->
                        </div>




                        <!-- Dietary attributes -->
                        <div class="accordion-item">
                            <div class="filter-item-title-div" style="padding-top: 1.5em ">
                                <h5 class="filter-item-header">Dietary Attributes</h5>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="halal" value="Halal" name="dietary" {% if 'Halal' in
                                    dietary_value %}checked="checked" {% endif %}>
                                <label for="halal">Halal</label>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="organic" value="Organic" name="dietary" {%
                                    if 'Organic' in dietary_value %}checked="checked" {% endif %}>
                                <label for="organic">Organic</label>
                            </div>

                            <div class="filter-item">
                                <input type="checkbox" id="halal-organic" value="Halal_&_organic" name="dietary" {%
                                    if 'Halal_&_organic' in dietary_value %}checked="checked" {% endif %}>
                                <label for="vegetarian">Halal & organic</label>
                            </div>

                            <div class="viewmore-hr">
                                <!-- <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        View More
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use to
                                        style each element. These classes control the overall appearance, as well as the
                                        showing and hiding via CSS transitions. You can modify any of this with custom
                                        CSS or overriding our default variables. It's also worth noting that just about
                                        any HTML can go within the <code>.accordion-body</code>, though the transition
                                        does limit overflow.
                                    </div>
                                </div> -->
                            </div>
                        </div>
                            <!-- Type of product -->
                            <div class="accordion-item">
                                <div class="filter-item-title-div" style="padding-top: 1.5em ">
                                    <h5 class="filter-item-header">Type of Product</h5>
                                </div>

                                <div class="filter-item">
                                    <input type="checkbox" id="snacks" value="Snacks" name="type" {% if 'Snacks' in
                                        type_value %}checked="checked" {% endif %}>
                                    <label for="snacks">Snacks</label>
                                </div>

                                <div class="filter-item">
                                    <input type="checkbox" id="drinks" value="Drinks" name="type" {% if 'Drinks' in
                                        type_value %}checked="checked" {% endif %}>
                                    <label for="drinks">Drinks</label>
                                </div>

                                <div class="filter-item">
                                    <input type="checkbox" id="frozen" value="Frozen" name="type" {% if 'Frozen' in
                                        type_value %}checked="checked" {% endif %}>
                                    <label for="frozen">Frozen</label>
                                </div>

                                <div class="filter-item">
                                    <input type="checkbox" id="fruits-vegetables" value="Fruits_&_vegetables" name="type"
                                        {% if 'Fruits_&_vegetables' in type_value %}checked="checked" {% endif %}>
                                    <label for="fruits-vegetables">Fruits & Vegetables</label>
                                </div>

                                <div>
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            View More
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="filter-item">
                                            <input type="checkbox" id="household" value="Household"
                                                name="type" {% if 'Household' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="household">Household</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="health-wellness" value="Health_&_wellness"
                                                name="type" {% if 'Health_&_wellness' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="health-wellness">Health & Wellness</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="meat-seafood" value="Meat_&_seafood"
                                                name="type" {% if 'Meat_&_seafood' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="meat-seafood">Meat & Seafood</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="dairy-chilled-eggs" value="Dairy_&_chilled_&_eggs"
                                                name="type" {% if 'Dairy_&_chilled_&_eggs' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="dairy-chilled-eggs">Dairy, Chilled & Eggs</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="beer-wine-spirits" value="Beer_&_wine_&_spirits"
                                                name="type" {% if 'Beer_&_wine_&_spirits' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="beer-wine-spirits">Beer, Wine & Spirits</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="beauty-personal-care" value="Beauty_&_personal_care"
                                                name="type" {% if 'Beauty_&_personal_care' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="beauty-personal-care">Beauty & Personal Care</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="baby-childtoys" value="Baby_&_child_&_toys"
                                                name="type" {% if 'Baby_&_child_&_toys' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="baby-childtoys">Baby, Child & Toys</label>
                                        </div>
                                        <div class="filter-item">
                                            <input type="checkbox" id="rice-noodles-cooking-ingredients" value="Rice_&_noodles_&_cooking_ingredients"
                                                name="type" {% if 'Rice_&_noodles_&_cooking_ingredients' in type_value %}checked="checked"
                                                {% endif %}>
                                            <label for="rice-noodles-cooking-ingredients">Rice, Noodles & Cooking Ingredients</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </fieldset>
                    <div>
                        <input type="submit" value="Filter" class="btn btn-primary">
                        <input type="reset" value="Clear All" class="btn btn-danger" onclick="window.location.href = 'http://127.0.0.1:5000/Products'">
                    </div>
                </form>
            </div>
        </div>



        <div class="col-xxl-10">
            <div id="carouselExampleAutoplaying" class="carousel slide advertisment-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active c-item" >
                        <img src="{{ url_for('static', filename='images/carousel_1.jpg') }}" class="d-block w-100 c-img"
                            alt="...">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{ url_for('static', filename='images/carousel_2.jpg') }}" class="d-block w-100 c-img"
                            alt="...">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{ url_for('static', filename='images/carousel_3.jpg') }}" class="d-block w-100 c-img"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('add_product_cart') }}">
                <div class="row ">
                    <div class="col-12 d-flex justify-content-center pt-5">
                        <h2 class="section-title">
                            Shop Products
                            
                        </h2>
                    </div>
                    {% for item in products_dict %}
                    <div class="col-xxl-4 products-container pt-3">
                        <div class="product-box item" style="background-color: white;">


                            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{item}}"
                                style="background: transparent; border: none;">
                                <img src="{{ url_for('static', filename = products_dict[item].get_url()) }}" alt="" id="myImg" class="product-img boximages">
                            </button>
                            <!-- Modal Button ends -->
                            <!-- Modal content -->
                            <div class="modal fade" id="exampleModal{{item}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                <div class="modal-dialog modal-xl">

                                    <div class="modal-content border-0 bg-transparent">

                                        <div class="modal-header border-0">

                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">

                                            </button>

                                        </div>

                                        <div class="modal-body" style="display: flex; flex-direction: column; align-items: center; margin-top: auto;">
                                            <h2 class="product-title" style=" width: 50%; border-bottom: 1px solid black; background-color: white; padding: 0.5em;">
                                                {{ products_dict[item].get_name() }}
                                            </h2>
                                            <img src="{{ url_for('static', filename = products_dict[item].get_url()) }}" style="width: 50%; height: 50%;">

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- Modal content ends -->
                            <div class="product-text">

                                <h3 class="price" style="padding-left: 10px;">
                                    ${{ products_dict[item].get_price() }}.00
                                </h3>

                                <h2 class="product-title" style="overflow-wrap: break-word; padding-left: 10px;">
                                    {{ products_dict[item].get_name() }}
                                </h2>
                                <div style="display: flex; flex-direction: column; align-items: center; margin-top: auto;">

                                    {% if products_dict[item].get_quantity() > 0 and products_dict[item].get_quantity() != 0 %}

                                        {% if products_dict[item].get_id()|string not in cart_session %}

                                            <button type="submit" name="id" value="{{products_dict[item].get_id()}}" class="btn btn-primary">
                                                Add to Cart
                                            </button>

                                        {% else %}

                                            <button type="button" name="" value="{{products_dict[item].get_id()}}" class="btn btn-primary" onclick="alert('{{products_dict[item].get_name()}} is already in cart!')">
                                                Add to Cart
                                            </button>

                                        {% endif %}

                                    {% else %}

                                        <h5 id="out-of-stock">
                                            Sorry, We are temporarily out of stock
                                        </h5>

                                    {% endif %}

                                </div>

                            </div>

                        </div>

                    </div>

                    {% endfor %}
                </div>

            </form>
        </div>
    </div>
</div>


<div id="productContainer">
    <p></p>
</div>

</div>




{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    var resetButton = document.querySelector('input[type="reset"]');
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');

    resetButton.addEventListener("click", function () {
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
        });
    });
});
</script>

{% endblock %}

{% endblock %}